.hero {
  position: relative;

  text-align: center;
}

.hero__welcome {
  margin-bottom: 50px;

  strong {
    display: block;

    font-size: 17px;

    text-transform: uppercase;

    .fas {
      margin-right: 14px;

      font-size: 12px;
      color: #555;

      &:last-child {
        margin-left: 14px;
        margin-right: 0;
      }
    }
  }
}

.hero__intro {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;

  &::before, &::after {
      position: relative;

      content: "";

      display: inline-block;
      flex-grow: 1;
      height: 1px;

      background-color: #fff;
    }

  span {
    margin: 0 10px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 35px;

  font-size: 67px;
  // font-size: 7rem;
  line-height: 1.6;
  font-weight: 100;

  border-bottom: 1px solid #fff;
  white-space: nowrap;
}

.hero__description {
  margin-bottom: 32px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
   .hero__title {
    font-size: 64px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   .hero__title {
    font-size: 48px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .hero__intro {
    margin-bottom: 0;
    span {
      font-size: 9px;
    }
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__welcome strong {
    font-size: 14px;
  }

  .hero__description {
    font-size: 14px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
