.social__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.social__list--footer {
  display: flex;
}

.social__item {
  padding: 0;
  margin-right: 15px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin: 16px 0;

    font-size: 17px;
    text-decoration: none;
    text-align: center;

    border-radius: 50%;
    color: #2C2C2C;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.25s ease;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.social__item--footer {
  margin-right: 12px;

  a {
    color: #ABABAB;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:hover, &:focus {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
